<section class="wrapper">
    <a href="/" alt="go back to start" data-navigo><button class="button button--back">go back</button></a>
    <section class="wrapper__search">
        <form id="search" class="search--form">
            <input type="text" name="textsearch" id="textsearch">
            <button id="search-btn" class="button button--search">Test</button>
        </form>
    </section>
</section>