<footer id="footer" class="footer">
    <div class="footer__wrapper">
        <p>&copy; Sophie Daringer</p>
        <p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" class="footer__link">Pixel perfect</a> and
        <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons" class="footer__link">Roundicons</a>
        from <a href="https://www.flaticon.com/" title="Flaticon" class="footer__link">www.flaticon.com</a></p>
    </div>
</footer>