.wrapper {
    &__regex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__heading {
        display: flex;
        justify-content: center;
        width: 25vw;
    }
}

.information {
    &--icon {
        margin: 0.5rem;
        cursor: pointer;
    }
    &__text {
        display: none;
        position: fixed;
        background-color: $yankees-blue;
        color: $isabelline;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100%;
        padding: 0 0.5rem;
        transition: width 1s linear;
    }
    &__list {
        list-style-type: none;
        padding: 0.5rem;
        &--elem {
            padding: 0.5rem 0;
        }
    }
}

.close {
    position: absolute;
    z-index: 10;
    right: 1rem;
    top: 0.5rem;
    font-size: 1.5em;
    font-weight: bold;
    &:hover,
    :focus {
        color: $yankees-blue;
        text-decoration: none;
        cursor: pointer;
    }
}

.regex {
    &--form {
        display: grid;
        grid-gap: 0.625rem;
        justify-items: center;
        margin: 3rem auto;
        max-width: 50%;
    }
}

.heading {
    &--form {
        font-weight: 600;
        font-size: larger;
    }
}

.build {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    &--elem {
        flex: 0 1 25%;
        margin: 0.5rem 1rem;
    }
}

.result {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        list-style-type: square;
    }
    &--elem {
        flex: 0 1 25%;
        margin: 0.5rem 1rem;
    }
}