<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body class="body">
    {{> ./partials/components/header }}
    <main id="app" class="main">
        <p>Hello World!</p>
    </main>
    {{> ./partials/components/footer }}
</body>
</html>