<section class="wrapper__home">
    <h1 class="heading--one">Create and Test Regular Expressions for your Article Search</h1>
    <section class="wrapper__nav">
        <a href="#regex" alt="create regular expression" data-navigo><button class="button button--nav">Create Regular Expression</button></a>
        <a href="#search" alt="test regular expression" data-navigo><button class="button button--nav">Test Regular Expression</button></a>
    </section>
</section>